body {
    color: white;
    background-color: #25282a;
    margin: 0;
    padding: 0;
}

.carousel-wrapper {
    margin: 10px auto;
    width: 90vw;
    height: 60vh;
    overflow: hidden;
    border-radius: 50px;
    /* for animation */
    /* scroll-behavior: smooth; */
}

.carousel {
    display: inline-flex;
}

.mem-container {
    width: 90vw;
    height: 60vh;
    transition: 2s;
}

.image {
    width: 100%;
    height: 100%;
}

.mem-001 .image {
    background-color: bisque;
}

.mem-002 .image {
    background-color: greenyellow;
}

.mem-003 .image {
    background-color: brown;
}

.mem-004 .image {
    background-color: burlywood;
}

.slider__nav {
    box-sizing: border-box;
    width: 200px;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

/* ~ ищем на этом же уровне элемент с классом */
#radio1:checked ~ .carousel-wrapper .first {
    margin-left: 0;
}

#radio2:checked ~ .carousel-wrapper .first {
    margin-left: -90vw;
}

#radio3:checked ~ .carousel-wrapper .first {
    margin-left: -180vw;
}

#radio4:checked ~ .carousel-wrapper .first {
    margin-left: -270vw;
}

p {
    display: none;
}

#radio1:checked ~ .text1 {
    display: block;
}

#radio2:checked ~ .text2 {
    display: block;
}

#radio3:checked ~ .text3 {
    display: block;
}

#radio4:checked ~ .text4 {
    display: block;
}

input[type="radio"] {
    /* all: unset; */
}

/* + значит берем следующий элемент */
/* то есть берем label следующий за input type radio */
input[type="radio"]:checked+label>.slider__navlink {
    background-color: green;
}

label {
    /* display: block; */
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #71a5f1;
    border: 2px solid #71a5f1;
    margin: 10px;
}


a.slider__navlink {
    display: none;
}